.Rproj.user
.Rhistory
.RData
.Ruserdata
env/
.ipynb_checkpoints/
code/.ipynb_checkpoints/
code/.ipynb_checkpoints/01. Rename Variables-checkpoint.ipynb
Lib/site-packages/__pycache__/_virtualenv.cpython-39.pyc
code/.ipynb_checkpoints/01. Rename Variables-checkpoint.ipynb
.vscode/launch.json
.vscode/Process Data.py
data/input/original-new.xlsx
data/input/original.NLSY79
data/input/original.sas
data/input/original.cdb
data/input/original-value-labels.do
data/input/original.txt
data/input/original.sps
data/input/original.dat
data/input/GNPDEF.csv
data/input/extract.log
data/input/continuous_week_crosswalk_2012.xlsx
data/output/original.pkl
code/fig-emp-status-1978.png
data/input/additional-vars-1.sdf
data/input/continuous_week_crosswalk_2019.xlsx
data/input/full-list-variables.dct
data/output/full-list-variables.pkl
code/01. Process Data.ipynb


code/create-pkl.py
code/data/input/additional-vars-1.sdf
code/data/input/continous_week_crosswalk2019.pkl
code/data/input/continuous_week_crosswalk_2019-DESKTOP-OOQRFTJ.csv
code/data/input/continuous_week_crosswalk_2019.xlsx
code/data/input/continuous_week_crosswalk2019.csv
code/data/input/continuous_week_crosswalk_2019.csv
