.Rproj.user
.Rhistory
.RData
.Ruserdata
code/env.py
Lib/site-packages/markupsafe/_speedups.cp39-win_amd64.pyd
Lib/site-packages/pywin32_system32/pythoncom39.dll
Lib/site-packages/pywin32_system32/pywintypes39.dll
Lib/site-packages/pyzmq.libs/libsodium-ac42d648.dll
Lib/site-packages/pyzmq.libs/libzmq-v141-mt-4_3_4-0a6f51ca.dll
Lib/site-packages/pyzmq.libs/msvcp140.dll
Lib/site-packages/tornado/speedups.cp39-win_amd64.pyd
Lib/site-packages/win32/_win32sysloader.pyd
Lib/site-packages/win32/win32api.pyd
Lib/site-packages/win32/win32trace.pyd
Lib/site-packages/win32comext/shell/shell.pyd
Lib/site-packages/winpty/winpty.cp39-win_amd64.pyd
Lib/site-packages/winpty/winpty.dll
Lib/site-packages/zmq/backend/cython/_device.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/_poll.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/_proxy_steerable.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/_version.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/constants.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/context.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/error.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/message.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/socket.cp39-win_amd64.pyd
Lib/site-packages/zmq/backend/cython/utils.cp39-win_amd64.pyd
Scripts/jupyter-notebook.exe
Scripts/jupyter.exe
Scripts/pip-3.9.exe
Scripts/pip.exe
Scripts/pip3.9.exe
Scripts/pip3.exe
Scripts/wheel-3.9.exe
Scripts/wheel.exe
Scripts/pip-3.9.exe
Scripts/pip.exe
Scripts/pip3.9.exe
Scripts/pip3.exe
Scripts/wheel-3.9.exe
Scripts/wheel.exe
Scripts/wheel3.9.exe
Scripts/wheel3.exe
.ipynb_checkpoints/
code/.ipynb_checkpoints/
code/.ipynb_checkpoints/01. Rename Variables-checkpoint.ipynb
Lib/site-packages/__pycache__/_virtualenv.cpython-39.pyc
