.Rproj.user
.Rhistory
.RData
.Ruserdata
env/
.ipynb_checkpoints/
code/.ipynb_checkpoints/
code/.ipynb_checkpoints/01. Rename Variables-checkpoint.ipynb
Lib/site-packages/__pycache__/_virtualenv.cpython-39.pyc
code/.ipynb_checkpoints/01. Rename Variables-checkpoint.ipynb
